@charset "UTF-8";
body{
  font-size: 20px;
}
.menu-item{
  font-size: 20px;
}
.title{
  font-size: 50px;
}
.logo{
  text-align: center;
}
li {
	width:calc(100% / 3);
	float: left;
}
.header{
  width: 1200px;
  margin: 0 auto;
  background: #eee;
}
.header ul{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-items:center;
  justify-content: center;
  -webkit-justify-items:center;
  align-items: center;
}
.header ul li{
  width: 200px;
  text-align: center;
}
.header ul li a{
  display: block;
}
img {
  width: 300px;
}
<!--スマホとpc-->
.pc{
  display: block;
}
.sp{
  display: none;
}

@media only screen and (max-width: 480px){
  .pc{
    display: none;
  }
  .sp{
    display: block;
  }
}
header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: darkgrey;
  align-items: center;
}
 
.title {
  margin-right: auto;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}