@charset "UTF-8";

body {
    background-image: url("./photo/背景画像.jpg");
}
.p {
    font-size: 20px;
}

.menu-item {
    font-size: 20px;
}

.logo {
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
}

.menu {
    list-style: none;
}

.header {
    margin: 0 auto;
}

.header ul {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li {
    width: 18vw;
    text-align: center;
    border-right: 4px solid #222;
}

.header ul li:first-child {
    border-left: 4px solid #222;
}

#header ul li {
    width: 20%;
}

.header ul li a {
    display: block;
}

img {
    width: 300px;
}

/* スマホとpc */
.pc {
    display: block;
}

.sp {
    display: none;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
}

@media only screen and (max-width: 480px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }
}
