@charset "UTF-8";

body{
    background-color: white;
}
p {
    font-size: 20px;
}

.menu-item {
    font-size: 20px;
}

.logo {
    font-family: 'Dela Gothic One', cursive;
    text-align: center;
}

.menu {
    list-style: none;
}

.header {
    margin: 0 auto;
}

.header ul {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li {
    width: 18vw;
    text-align: center;
    border-right: 4px solid #222;
}

.header ul li:first-child {
    border-left: 4px solid #222;
}

#header ul li {
    width: 20%;
}

.header ul li a {
    display: block;
}

img {
    width: 300px;
}

/* スマホとpc */
.pc {
    display: block;
}

.sp {
    display: none;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
}

@media only screen and (max-width: 480px) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }
}

<style>
.border-image{
    border: 20px solid;
    border-image: conic-gradient(#f5f551,#5eff5e,#84a1ff,#ff45ff,#ff5a5a,#ffbc41,#f5f551) 1;
    height: 100px;
}
</style>
<div class="border-image"></div>